<a href="https://colab.research.google.com/github/jxblrkrstffrbrms/ITBA3206-SPARTACUS/blob/main/Reaching_New_Heights_Boosting_Vaccinations_for_a_Safer_Community.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing all libraries needed in the analysis.

In [1]:
import numpy as np
import pandas as pd

Uploading the **.csv** file

In [2]:
url = 'https://raw.githubusercontent.com/jxblrkrstffrbrms/ITBA3206-SPARTACUS/main/dataset_ph.csv'

Reading and printing the .csv file

In [3]:
df= pd.read_csv(url)
print(df)

     continent     location        date  total_cases  new_cases  \
0         Asia  Philippines  30/01/2020            1        1.0
1         Asia  Philippines  31/01/2020            1        0.0
2         Asia  Philippines  01/02/2020            1        0.0
3         Asia  Philippines  02/02/2020            2        1.0
4         Asia  Philippines  03/02/2020            2        0.0
...        ...          ...         ...          ...        ...
1663      Asia        World  28/04/2022     10638632     7116.0
1664      Asia        World  29/04/2022     10644700     6068.0
1665      Asia        World  30/04/2022     10649809     5109.0
1666      Asia        World  01/05/2022     10653526     3717.0
1667      Asia        World  02/05/2022     10656649     3123.0

      new_cases_smoothed  total_deaths  new_deaths  new_deaths_smoothed  \
0                    NaN           NaN         NaN                  NaN
1                    NaN           NaN         NaN                  NaN
2                    NaN           NaN         NaN                  NaN
3                    NaN           1.0         1.0                  NaN
4                    NaN           1.0         0.0                  NaN
...                  ...           ...         ...                  ...
1663           15066.857       43037.0         3.0                6.571
1664           14339.429       43038.0         1.0                5.714
1665           13588.571       43041.0         3.0                5.286
1666           12860.571       43042.0         1.0                4.143
1667           12125.286       43044.0         2.0                3.286

      total_cases_per_million  ...  female_smokers  male_smokers  \
0                       0.009  ...             7.8          40.8
1                       0.009  ...             7.8          40.8
2                       0.009  ...             7.8          40.8
3                       0.018  ...             7.8          40.8
4                       0.018  ...             7.8          40.8
...                       ...  ...             ...           ...
1663               108370.774  ...             1.0          45.9
1664               108432.586  ...             1.0          45.9
1665               108484.629  ...             1.0          45.9
1666               108522.492  ...             1.0          45.9
1667               108554.305  ...             1.0          45.9

      handwashing_facilities  hospital_beds_per_thousand  life_expectancy  \
0                     78.463                         1.0            71.23
1                     78.463                         1.0            71.23
2                     78.463                         1.0            71.23
3                     78.463                         1.0            71.23
4                     78.463                         1.0            71.23
...                      ...                         ...              ...
1663                  85.847                         2.6            75.40
1664                  85.847                         2.6            75.40
1665                  85.847                         2.6            75.40
1666                  85.847                         2.6            75.40
1667                  85.847                         2.6            75.40

      human_development_index  excess_mortality_cumulative_absolute  \
0                       0.718                                   NaN
1                       0.718                               -1699.0
2                       0.718                                   NaN
3                       0.718                                   NaN
4                       0.718                                   NaN
...                       ...                                   ...
1663                    0.704                                   NaN
1664                    0.704                                   NaN
1665                    0.704                                   NaN
1666                    0.704                                   NaN
1667                    0.704                                   NaN

      excess_mortality_cumulative  excess_mortality  \
0                             NaN               NaN
1                           -3.08             -3.08
2                             NaN               NaN
3                             NaN               NaN
4                             NaN               NaN
...                           ...               ...
1663                          NaN               NaN
1664                          NaN               NaN
1665                          NaN               NaN
1666                          NaN               NaN
1667                          NaN               NaN

      excess_mortality_cumulative_per_million
0                                         NaN
1                                   -15.29984
2                                         NaN
3                                         NaN
4                                         NaN
...                                       ...
1663                                      NaN
1664                                      NaN
1665                                      NaN
1666                                      NaN
1667                                      NaN

[1668 rows x 66 columns]

The dataset our team got contains all the data regarding COVID-19 around the world.

Since what we'll need for the analysis is only for our country which is the Philippines, we need to delete unnecessary rows and columns from our dataset. Also, cleaning the dataset is essential for us to have accurate results.

*Deleting Unnecessary Rows*

In [4]:
df1= pd.DataFrame(df)
df1.drop(['new_cases_smoothed', 'new_deaths_smoothed', 'excess_mortality', 'excess_mortality_cumulative_per_million', 'new_cases_smoothed_per_million', 'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative', 'gdp_per_capita', 'extreme_poverty', 'cardiovasc_death_rate'], axis = 1, inplace=True)
print(df1)

     continent     location        date  total_cases  new_cases  total_deaths  \
0         Asia  Philippines  30/01/2020            1        1.0           NaN
1         Asia  Philippines  31/01/2020            1        0.0           NaN
2         Asia  Philippines  01/02/2020            1        0.0           NaN
3         Asia  Philippines  02/02/2020            2        1.0           1.0
4         Asia  Philippines  03/02/2020            2        0.0           1.0
...        ...          ...         ...          ...        ...           ...
1663      Asia        World  28/04/2022     10638632     7116.0       43037.0
1664      Asia        World  29/04/2022     10644700     6068.0       43038.0
1665      Asia        World  30/04/2022     10649809     5109.0       43041.0
1666      Asia        World  01/05/2022     10653526     3717.0       43042.0
1667      Asia        World  02/05/2022     10656649     3123.0       43044.0

      new_deaths  total_cases_per_million  new_cases_per_million  \
0            NaN                    0.009                  0.009
1            NaN                    0.009                  0.000
2            NaN                    0.009                  0.000
3            1.0                    0.018                  0.009
4            0.0                    0.018                  0.000
...          ...                      ...                    ...
1663         3.0               108370.774                 72.487
1664         1.0               108432.586                 61.812
1665         3.0               108484.629                 52.043
1666         1.0               108522.492                 37.863
1667         2.0               108554.305                 31.813

      total_deaths_per_million  ...  median_age  aged_65_older  aged_70_older  \
0                          NaN  ...        25.2          4.803          2.661
1                          NaN  ...        25.2          4.803          2.661
2                          NaN  ...        25.2          4.803          2.661
3                        0.009  ...        25.2          4.803          2.661
4                        0.009  ...        25.2          4.803          2.661
...                        ...  ...         ...            ...            ...
1663                   438.398  ...        32.6          7.150          4.718
1664                   438.408  ...        32.6          7.150          4.718
1665                   438.439  ...        32.6          7.150          4.718
1666                   438.449  ...        32.6          7.150          4.718
1667                   438.469  ...        32.6          7.150          4.718

      diabetes_prevalence  female_smokers  male_smokers  \
0                    7.07             7.8          40.8
1                    7.07             7.8          40.8
2                    7.07             7.8          40.8
3                    7.07             7.8          40.8
4                    7.07             7.8          40.8
...                   ...             ...           ...
1663                 6.00             1.0          45.9
1664                 6.00             1.0          45.9
1665                 6.00             1.0          45.9
1666                 6.00             1.0          45.9
1667                 6.00             1.0          45.9

      handwashing_facilities  hospital_beds_per_thousand  life_expectancy  \
0                     78.463                         1.0            71.23
1                     78.463                         1.0            71.23
2                     78.463                         1.0            71.23
3                     78.463                         1.0            71.23
4                     78.463                         1.0            71.23
...                      ...                         ...              ...
1663                  85.847                         2.6            75.40
1664                  85.847                         2.6            75.40
1665                  85.847                         2.6            75.40
1666                  85.847                         2.6            75.40
1667                  85.847                         2.6            75.40

      human_development_index
0                       0.718
1                       0.718
2                       0.718
3                       0.718
4                       0.718
...                       ...
1663                    0.704
1664                    0.704
1665                    0.704
1666                    0.704
1667                    0.704

[1668 rows x 56 columns]